VITE_SUPABASE_URL=https://jaucqsyvqiwmxmdqfeet.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_e_eKzfJtJrdSgPEQV2hLrA_DLagBtt0
VITE_DESK_ID_SERVER=rd.albesa.tech:21116
VITE_DESK_RELAY_SERVER=rd.albesa.tech:21117
VITE_DESK_WS_HOST=desk.albesa.tech
VITE_DESK_SERVER_KEY=RoldVL1Npn0FLv274f1N6zlbWlhZKoOiYUvObjDLomo=
